# Decision Tree - Gini and Entropy

In [1]:
import numpy as np
from collections import Counter
import pandas as pd

In [2]:
def pr(e, es): # the probability of class ci in a node
    return Counter(es)[e] / len(es)

### Define Gini

In [3]:
def gini(elements): # Gini
    return 1 - np.sum(pr(e, elements)**2 for e in set(elements))

In [4]:
def entropy(elements): # Entropy
    return -np.sum((pr(e,elements)*np.log2(pr(e, elements)) for e in set(elements)))

### Define Entropy

In [5]:
features_1 = ['R', 'R', 'Y', 'Y']
features_2 = ['R', 'R', 'R', 'Y']
features_3 = ['R', 'R', 'R', 'R']

In [6]:
gini(features_1)

<ipython-input-3-8b197500fe7f>:2: DeprecationWarning: Calling np.sum(generator) is deprecated, and in the future will give a different result. Use np.sum(np.fromiter(generator)) or the python sum builtin instead.
  return 1 - np.sum(pr(e, elements)**2 for e in set(elements))

0.5

In [7]:
gini(features_2)

<ipython-input-3-8b197500fe7f>:2: DeprecationWarning: Calling np.sum(generator) is deprecated, and in the future will give a different result. Use np.sum(np.fromiter(generator)) or the python sum builtin instead.
  return 1 - np.sum(pr(e, elements)**2 for e in set(elements))

0.375

In [8]:
gini(features_3)

<ipython-input-3-8b197500fe7f>:2: DeprecationWarning: Calling np.sum(generator) is deprecated, and in the future will give a different result. Use np.sum(np.fromiter(generator)) or the python sum builtin instead.
  return 1 - np.sum(pr(e, elements)**2 for e in set(elements))

0.0

In [9]:
entropy(features_1)

<ipython-input-4-ab4fe5762e1b>:2: DeprecationWarning: Calling np.sum(generator) is deprecated, and in the future will give a different result. Use np.sum(np.fromiter(generator)) or the python sum builtin instead.
  return -np.sum((pr(e,elements)*np.log2(pr(e, elements)) for e in set(elements)))

1.0

In [10]:
entropy(features_2)

<ipython-input-4-ab4fe5762e1b>:2: DeprecationWarning: Calling np.sum(generator) is deprecated, and in the future will give a different result. Use np.sum(np.fromiter(generator)) or the python sum builtin instead.
  return -np.sum((pr(e,elements)*np.log2(pr(e, elements)) for e in set(elements)))

0.8112781244591328

In [11]:
entropy(features_3)

<ipython-input-4-ab4fe5762e1b>:2: DeprecationWarning: Calling np.sum(generator) is deprecated, and in the future will give a different result. Use np.sum(np.fromiter(generator)) or the python sum builtin instead.
  return -np.sum((pr(e,elements)*np.log2(pr(e, elements)) for e in set(elements)))

-0.0

## Example

In [12]:
item_sales = {
    'gender': ['F','F','F','F','M','M','M'],
    'income': ['20','10','20','20','20','20','10'],
    'family_number': [1,1,2,1,1,1,2],
    'bought': [1,1,1,0,0,0,1],
}

In [13]:
dataset = pd.DataFrame.from_dict(item_sales)
dataset

  gender income  family_number  bought
0      F     20              1       1
1      F     10              1       1
2      F     20              2       1
3      F     20              1       0
4      M     20              1       0
5      M     20              1       0
6      M     10              2       1

In [14]:
target = 'bought'

Now we want to build a tree, we want to find the appropriate feature to split

In [ ]:
print(dataset[dataset['gender'] == 'F'][target].tolist(), dataset[dataset['gender'] == 'M'][target].tolist())

gini(dataset[dataset['gender'] == 'F'][target].tolist()) +\
gini(dataset[dataset['gender'] == 'M'][target].tolist())

In [ ]:
print(dataset[dataset['income'] == '20'][target].tolist(), dataset[dataset['income'] == '10'][target].tolist())

gini(dataset[dataset['income'] == '20'][target].tolist()) +\
gini(dataset[dataset['income'] == '10'][target].tolist())

income is more appropriate than income as the splitting point since it has smllar gini value.